lettuce==0.2.20
fabric==1.10.0
flask==0.10.1
requests==2.5.0
colorama==0.2.5
paramiko==1.17.6
psutil==2.2.0
python-subunit==1.0.0
junitxml==0.7
git+https://visitor:visitor@pdihub.hi.inet/fiware/fiware-iotqaUtils@develop
git+https://github.com/telefonicaid/lettuce-tools.git#egg=lettuce_tools
